<template>
    <div class="header">
        <img src="favicon.ico" />
        <router-link to="/">Home</router-link>
        <router-link to="/video-list">Elenco video</router-link>
        <router-link to="/about">About</router-link>
    </div>
</template>

<style>

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
    padding: 7px;
}

.header img{
    width: 20px;
    height: 20px;
}

.header a{
    color:darkcyan;
    text-decoration: none;
}

</style>